<% form_for @audio, :html => {:multipart => true} do |f| %>  
  <%= f.error_messages %>
  
  <% if (@audio.new_record?) %>
  <%= f.file_field :file %><br />
  <% end %>
  
  <p>
  <%= f.label :filename %><br />
  <%= f.text_field :filename %>
  </p>

  <p>
  <%= f.label :source_id %><br />
  <%= f.collection_select :source_id, Source.all, :id, :display_name %> <%= link_to "New source", new_source_path %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

