<% title "Source" %>

<p>
  <strong>Name:</strong>
  <%=h @source.name %>
</p>
<p>
  <strong>Unit:</strong>
  <%=h @source.unit %>
</p>
<p>
  <strong>Section:</strong>
  <%=h @source.section %>
</p>

<p>
  <%= link_to "Edit", edit_source_path(@source) %> |
  <%= link_to "Destroy", @source, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sources_path %>
</p>
