<% form_for :translation, :url => sentence_translations_path(@sentence), :method=>"post"  do |f| %>
  <p>
    <%= f.label :lang %><br />
    <%= f.text_field :lang %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
