<% title "Translations" %>

<table>
  <tr>
    <th>Lang</th>
    <th>Content</th>
  </tr>
  <% logger.debug "*** @translations : #{@translations.inspect}" %>
  <% for translation in @translations %>
    <tr>
      <td><%=h translation.lang %></td>
      <td><%=h translation.content %></td>
      <td><%= link_to "Show", sentence_translation_path(@sentence,translation) %></td>
      <td><%= link_to "Edit", edit_sentence_translation_path(@sentence,translation) %></td>
      <td><%= link_to "Destroy", sentence_translation_path(@sentence,translation), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Translation", new_sentence_translation_path(@sentence) %></p>
