<%= javascript_include_tag ['jquery-1.3.2','application'] %>
<%= javascript_tag "var translation_html=\'#{escape_javascript render :partial => 'translation', :collection => [Translation.new] }\';" %>
  
<% form_for @sentence do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :unit %>
    <%= f.collection_select :unit_id, Unit.all, :id, :name %>
    <%= f.label :lang %>
    <%= f.select :lang, ['japanese','english','polish'] %>
    <%= f.label :category %>
    <%= f.select :category, ['verb','noun','adjective'] %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
  <div class='translations'>
    Translations:<br>
    <%= button_to_function "New translation","insert_translation(translation_html)" %>
    <%= render :partial => 'translation', :collection => @sentence.translations %>
  </div>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>

