<% form_for @sentence do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :source %><br />    
    <%= f.collection_select :source_id, Source.all, :id, :display_name %> <%= link_to "New source", new_source_path %>
  </p>

   <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <h2> Translations: </h2>
  <%= render :partial => 'translation_form', :collection => @translations %>
  <p><%= f.submit "Submit" %></p>
<% end %>
