<p>
  <%=h @sentence.unit.name %>
</p>
<center>
<div id='sentence'>
<% if @sentence.fragment && @sentence.fragment.asset_id %>
  <h1>
    <%= link_to_function h(@sentence.content), "play(\'#{asset_path(@sentence.fragment.asset)}.mp3\',#{@sentence.fragment.start},#{@sentence.fragment.stop});" %>
  </h1>
<% else %>
  <h1><%= h(@sentence.content) %></h1>
<% end %>
</div>
<div id='navigation'>
  <%= button_to_function('previous', "show_previous();") %>
  <%= button_to_function('next', "show_next();") %>
</div>
</center>

<% for translation in @sentence.translations -%>
  <p>
  <%= "[#{translation['lang']}]" %>
  <%= translation['content'] %>
  </p>
<% end -%> 

<p>
  <%= link_to "Edit", edit_sentence_path(@sentence) %> |
  <%= link_to "Destroy", @sentence, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sentences_path %> |
  <%= link_to "New", new_sentence_path %> |
</p>
