<p>
  <%=h @sentence.source.display_name %>
</p>
<center>
<% if @fragment %>
  <h1>
    <%= link_to_function h(@sentence.content), "play(\'#{@audio.filename}\',#{@fragment.start},#{@fragment.end});" %>
  </h1>
<% else %>
  <h1><%= h(@sentence.content).gsub(/$/,'<br>') %></h1>
<% end %>
<div id='navigation'>
  <%= button_to_function('previous', "show(\'#{sentence_path(@previous)}\');") if @previous %>
  <%= button_to_function('previous', "alert('This is first sentence')") unless @previous %>
  <%= button_to_function('next', "show(\'#{sentence_path(@next)}\');") if @next %>
  <%= button_to_function('next', "alert('This is already last sentence');") unless @next %>
</div>
</center>

<% for translation in @sentence.translations -%>
  <p>
  <%= "[#{translation['lang']}]" %>
  <%= translation['content'] %>
  </p>
<% end -%> 

<p>
  <%= link_to "Edit", edit_sentence_path(@sentence) %> |
  <%= link_to "Destroy", @sentence, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", sentences_path %> |
  <%= link_to "New", new_sentence_path %>
</p>
