<div class='single_translation'>
<% fields_for 'sentence[translations][]', translation, :index => '' do |tf| %>
<p>    
 <%= tf.label :content %> <br>
 <%= tf.text_area :content %><br>
 <%= tf.label :lang %>
 <%= tf.select :lang, ['pl','jp_kana','en'] %>
<%= button_to_function "Remove translation","remove_translation(this)" %>
</p>
<% end %>
</div>
