<table>
  <tr>
    <th>Content</th>
    <th>Lang</th>
    <th>Category</th>
  </tr>
  <% for word in words %>
    <tr>
      <td><%=h word.content %></td>
      <td><%=h word.lang %></td>
      <td><%=h word.category %></td>
      <td><%= link_to "Show", word %></td>
      <td><%= link_to "Edit", edit_word_path(word) %></td>
      <td><%= link_to "Destroy", word, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

