<p>
  <%= link_to "Edit", edit_word_path(@word) %> |
  <%= link_to "Destroy", @word, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", words_path %> |
</p>

<p>
  <%=h @word.unit.name %>
</p>
<center>
<% if @word.fragment.asset_id %>
  <h1>
    <%= link_to_function h(@word.content), "play(\'#{asset_path(@word.fragment.asset)}.mp3\',#{@word.fragment.start},#{@word.fragment.stop});" %>
  </h1>
<% else %>
  <h1><%= h(@word.content) %></h1>
<% end %>
<div id='navigation'>
  <%= button_to_function('previous', "show_previous();") %>
  <%= button_to_function('next', "show_next();") %>
</div>
</center>

<% for translation in @word.translations -%>
  <p>
  <%= "[#{translation['lang']}]" %>
  <%= translation['content'] %>
  </p>
<% end -%> 


