<% form_for @dialog do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :unit_id %>
    <%= f.collection_select :unit_id, Unit.all, :id, :name %> 
  </p>
  <p> Sentences:
  <ul id="dsentences">
  
  <%= render :partial => 'dsentence_form', :collection => @dialog.dsentences %>
  </ul>
  <%= button_to_function "New sentence","insert_dsentence(dsentence_html)" %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
