<% title h @dialog.title %>
<table>
<% for dsentence in @dialog.dsentences -%>
  <tr class='dialog'>
  <td class='person'><%=h dsentence.person %></td><td class='separator'>:</td>
  <td><%=h(dsentence.sentence.content).gsub("\n",'<br>') %><td>
  </tr>
<% end %>
</table>
<p>
  <%= link_to "Edit", edit_dialog_path(@dialog) %> |
  <%= link_to "Destroy", @dialog, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", dialogs_path %>
</p>

