<% form_for(@sentence, :url => (@sentence.new?)?asset_sentences_url(@asset):asset_sentence_url(@asset,@sentence)) do |f|%>
<%= f.error_messages %>
  <%= f.label :content %>
  <%= f.text_field :content %><br>
  <%= f.label :unit_id %>
  <%= f.hidden_field :unit_id %><br>
 

<% f.fields_for :fragment, @sentence.fragment do |af| %>
  <%= af.label :start %>
  <%= af.text_field :start %>
  <%= af.label :stop %>
  <%= af.text_field :stop %>
  <div id="asset_id">
  <%= af.label :asset_id %>
  <%= af.text_field :asset_id %>
  </div>
<% end %>
<%= f.submit "Submit" %>
<%= button_to_function "cancel", "$('#updateForm').html('')" %>
<% unless @sentence.new? %>
  <% debugger %>
  <%= link_to_remote "Destroy", :url => { :action => "destroy", :id => @sentence.id }, :confirm => 'Are you sure?', :method => :delete %>
  <%# link_to "Destroy", @sentence, :confirm => 'Are you sure?', :method => :delete, :ajax_options => {:uninitialized => true} %>
<% end %>  
<% end %>
