<% form_for(@word, :url => asset_word_url(@asset,@word)) do |f|%>
<%= f.error_messages %>
<% f.fields_for :fragment, @word.fragment do |af| %>
  <%= af.label :start %>
  <%= af.text_field :start %>
  <%= af.label :stop %>
  <%= af.text_field :stop %>
  <div id="asset_id">
  <%= af.label :asset_id %>
  <%= af.text_field :asset_id %>
  </div>
<% end %>
<%= f.submit "Submit" %>
<%= button_to_function "cancel", "$('#updateForm').html('')" %>
<%= button_to_function "remove", "removeFromAsset()" %>
<% end %>
