<%= javascript_include_tag "jquery","jrails","jquery.swfobject.1-0-8", "FABridge", "application_assets" %>

<%= javascript_tag "
  var audio_url =\'#{asset_url(@asset)}.mp3\'
  var asset_id =\'#{@asset.id.to_s}\'
  var fragments=#{@asset.fragments.to_json};
" %>

<% title "Edit Asset" %>
<p>
  <%= @asset.file_name %> 
  <%= link_to_function "change", "$('#asset_form').show()" %>
<p>
<div id="asset_form" style='display:none;'>
  <%= render :partial => 'form' %>
</div>

<div id="fragment_player"><div id='loading'>Loading data...</div></div>
  <div id="words_without_asset">
  <%= render :partial => 'words_without_asset' %>
  </div>

  <div id="sentences_without_asset">
  <%= render :partial => 'sentences_without_asset' %>
  </div>
  <div id="sentence">
  </div>  
  <div id="word">
  </div>  
  <div id="updateForm">
  </div>
  <div id="ble">
   bleble
  </div>
<div class="clear"></div>
<p>
  <%= link_to "Show", @asset %> |
  <%= link_to "View All", assets_path %>
</p>
