<%= javascript_include_tag "jquery-1.4.1.min","jquery.swfobject.1-0-8", "FABridge", "application_assets" %>

<%= javascript_tag "
  var audio_url =\'#{asset_url(@asset)}.mp3\'
  var asset_id =\'#{@asset.id.to_s}\'
" %>

<% title "Edit Asset" %>
<p>
  <%= @asset.file_name %> 
  <%= link_to_function "change", "$('#asset_form').show()" %>
<p>
<div id="asset_form" style='display:none;'>
  <%= render :partial => 'form' %>
</div>

<div id="fragment_player"><div id='loading'>Loading data...</div></div>
<div id="leftPanel">
  <div id="asset_words">
  <%= render :partial => 'asset_word', :collection => @asset.words %>
  </div>

  <div id="asset_sentences">
  <%= render :partial => 'asset_sentence', :collection => @asset.sentences %>
  </div>
</div>
<div id="rightPanel">
  <div id="words_without_asset">
  <%= render :partial => 'words_without_asset' %>
  </div>

  <div id="sentences_without_asset">
  <%= render :partial => 'sentences_without_asset' %>
  </div>

  <div id="updateForm">
  </div>
</div>
<div class="clear"></div>
<p>
  <%= link_to "Show", @asset %> |
  <%= link_to "View All", assets_path %>
</p>
