<%= javascript_include_tag "jquery-1.4.1.min","jquery.swfobject.1-0-8", "FABridge", "application_assets" %>

<%= javascript_tag "
  var audio_url =\'#{asset_url(@asset)}.mp3\'
  var asset_id =\'#{@asset.id.to_s}\'
" %>

<% title "Edit Asset" %>
<p>
  <%= @asset.file_name %> 
  <%= link_to_function "change", "$('#asset_form').show()" %>
<p>
<div id="asset_form" style='display:none;'>
  <%= render :partial => 'form' %>
</div>

<div id="fragment_player"></div>

<%= render :partial => 'word', :collection => @words, :locals => { :asset_id => @asset.id.to_s } %>

<%= collection_select :word, :id, @asset.unit.words.without_asset, :id, :content %>
<%= button_to_function "Add word", "addWord($('select#word_id').val())" %>

<div id="word_form">
</div>

<p>
  <%= link_to "Show", @asset %> |
  <%= link_to "View All", assets_path %>
</p>
