<% form_for [@audio,@fragment] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :sentence_id %><br />
    <%= f.collection_select :sentence_id, Sentence.all(:source_id => @audio.source_id), :id, :content_short %>
  </p>
  <p>
    <%= f.label :word_id %><br />
    <%= f.collection_select :word_id, Word.all(:source_id => @audio.source_id), :id, :content %>
  </p>

  <p>
    <%= f.label :start %><br />
    <%= f.text_field :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.text_field :end %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
