<% title "Units" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for unit in @units %>
    <tr>
      <td><%=h unit.name %></td>
      <td><%= link_to "Show", unit %></td>
      <td><%= link_to "Edit", edit_unit_path(unit) %></td>
      <td><%= link_to "Destroy", unit, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Unit", new_unit_path %></p>
