<h2> Words from: <%= @unit.name %> </h2><%= link_to "units", units_path, :class => "units" %> <%= link_to "sentences", sentences_unit_path(@unit), :class => "sentences" %>
<div class='col3'>
  <% @words.each do |w| %>
    <div class='item'>
      <div class='col kanji'><%= w.content %></div>
      <div class='clear'></div>
      <div class='translations'>
        <div class='col translation'><%=h translation(w,"jp_kana") %></div>
        <div class='col translation'><%=h translation(w,"en") %></div>
      </div>
      <div class='clear'></div>
    </div> 
  <% end %>
</div>
<%= @unit.name %> </h2>
