<%= javascript_include_tag ['jquery-1.3.2','application'] %>
<%= javascript_tag "var question_html=\'#{escape_javascript render :partial => 'question_form', :collection => [Question.new] }\';" %>


<% form_for @exercise do |f| %>
  <%= f.error_messages %>
  <p>  
    <%= f.label :unit_id %><%= f.text_field :unit_id, current_unit %>
    <%= f.label :example %><%= f.text_area :example %>
  </p>

  <p> Questions:
  <div id='questions'>
    
  <%= render :partial => 'question_form', :collection => @questions %>
   </div>
    <br>
     <%= button_to_function "New sentence","insert_question(question_html)" %>

  <p><%= f.submit "Submit" %></p>
<% end %>
