<%= javascript_include_tag ['jquery-1.4.1.min','fancybox/jquery.fancybox-1.3.0.pack','application_fancybox'] %>
<%# javascript_include_tag ['jquery-1.4.1.min','fancybox/jquery.fancybox-1.3.0.pack','fancybox/jquery.easing-1.3.pack','application_fancybox'] %>

<%= javascript_tag "
var example_html = \'<strong>Example:</strong>#{escape_javascript h(@exercise.example).gsub("\r\n",'<br>')}\'
" %>

  <div style="display: none;">
    <div id="exercise_example" style="colour:white;background-color:#444;width:600px;height:200px;overflow:auto;">
      <%= h(@exercise.example).gsub("\r\n",'<br>') %>
    </div>
  </div>
 
<h2>
<%= h("#{@exercise.source.name} #{@exercise.source.unit} #{@exercise.source.section} ") %>
</h2>

<%= link_to "show example", "#exercise_example", { :id => "inline" , :title => 'Example' } %>


<% for q in @exercise.questions %>
  <p id='exercise_question'>
  <%=h q.content %>
  </p>
<% end %>

<p>
  <%= link_to "Edit", edit_exercise_path(@exercise) %> |
  <%= link_to "Destroy", @exercise, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", exercises_path %>
</p>
