<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.0.css' %>
    <%= formtastic_stylesheet_link_tag %>
    <%= yield(:head) %>
  </head>
  <body> 
   <div id="login">
   <% if user_signed_in? %>
   <%= "Hello #{current_user.email}<br>" %>
   <% end %>
   </div>
   <div id='unit_selector'>
     <% form_tag(current_unit_path, :method => "get") do %>  
        <%= label_tag(:id, "Unit") %>  
        <%= collection_select :unit, :id, Unit.all, :id, :name, :default => current_unit || Unit.first %>  
        <%= submit_tag("Set") %> 
     <% end %>  
    </div>

   <div class='clear'></div> 
   <div id="header">
    <div id='logo'>
      <%= image_tag "sujimichi.png" %>
    </div>
    <div id='menu_navigation'>
      <%= link_to 'words', words_path %>
      <%= link_to 'sentences', sentences_path %>
      <%= link_to 'dialogs', dialogs_path %>
      <%= link_to 'assets', assets_path %>
    </div>
    <div class='clear'></div>
  </div>
   <div id="container">
      
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <center><h1><%=h yield(:title) %></h1></center>
      <%- end -%>
      
      <%= yield %>
    </div>
    <div id="bottom"></div>
  </body>
</html>
